.admin-profile-container {
    width: 100vw;
    height: 90vh; /* Increased height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
  }
  
  .profile-card {
    width: 60%; /* Increased width */
    max-width: 900px; /* Adjust as needed */
    height: 70%; /* Adjust as needed */
    max-height: 600px; /* Adjust as needed */
    background-color: #fff;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    padding: 30px;
    text-align: center;
    overflow: hidden; /* Ensure content fits within the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile-title {
    font-size: 3em; /* Larger title */
    margin-bottom: 20px;
    color: #333;
    font-weight: bold; /* Make title bold */
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image {
    width: 150px; /* Larger image */
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 4px solid #ddd; /* Border around the image */
  }
  
  .profile-details {
    font-size: 1.2em;
    color: #555;
  }
  
  .profile-details h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #222; /* Darker color for name */
  }
  
  .profile-details p {
    margin: 5px 0;
  }
  