.contact{
    width: 100vw;
    height: 90vh;
    /* border: 10px solid blueviolet; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    /* gap: 5em; */
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
    /* background-image: url('../Assests/signup-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* background-color: rgb(204, 204, 216); */

}
.contact-details{
    width: 100%;
    height: 70%;
    /* border: 3px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-details-1{
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-details-1-details{
    width: 70%;
    height: 70%;
    /* border: 1px solid rgb(236, 206, 206); */
    box-shadow: 0 0 3px rgb(161, 149, 149);
    border-radius: 7px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    padding: 2%;
}
.contact-details-1-details div,textarea{


}
.contact-details-1-details .icon{
    font-size: 1.5em; 
}
.contact-details-1-details textarea{
    max-height:20%;
    min-height:20%;
    max-width:70%;
    min-width:70%;
    padding:2%;
    border-radius: 5px;
    background-color: rgb(212, 228, 243);
    outline: none;
    font-size: 0.8vw;
}
.contact-details-1-details textarea:hover{
    background-color: rgb(192, 213, 233);

}
.contact-details-1-details .icon-text{
    width: 70%;
    height: 11%;
    border: 1px solid;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 5px;
    padding-left: 1%;
    background-color: rgb(212, 228, 243);
    /* backdrop-filter: ; */
}
.contact-details-1-details .icon-text label,input{
    font-size: 0.8vw;
}
.contact-details-1-details .icon-text:hover{
    background-color: rgb(192, 213, 233);

}
.contact-details-1-details-button{
    width: 70%;
    height: 11%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contact-details-1-details-button button{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    border: none;
    /* margin-left: 30%; */
    background-color: rgb(49, 190, 49);
    font-size: 0.8vw;
    font-weight: bold;
    cursor: pointer;
}
.contact-details-1-details-button button:hover{
    background-color: rgb(51, 197, 51);

}
.contact-details-1-details input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: none;
    margin-left: 2%;
    border: none;
    /* margin-left: 4%; */
    padding-left:5% ;
    background-color: transparent;

}
.contact-details-1-details input::placeholder{
    color: black;
}
.contact-details-1-details textarea::placeholder{
    color: black;
}

.contact-details-2{
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-details-2 h1{
    /* border: 1px solid; */
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}
.contact-details-2 img{
    width: 40%;
    height: 60%;
    /* border: 1px solid; */
}
.contact-option{
    width: 100%;
    height: 42%;
    /* border: 10px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}
.contact-option-box{
    width: 20%;
    height: 90%;
    /* border: 1px solid; */
    box-shadow: 0px 0px 4px rgb(209, 185, 185);
}
.contact-option-box-icon{
    width: 100%;
    height: 40%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vw; 
}
.contact-option-box-h{
    width: 100%;
    height: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}
.contact-option-box-p{
    width: 100%;
    height: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    font-size: 0.8vw;

}








/* Media Queries */


@media only screen and (max-width: 1024px) {
    .contact-details{
        height: 60%;
    }
    .contact-option{
        margin-top: 12%;
    }

    .contact-details-1 {
        width: 80%;
        flex-direction: column;
        /* border: 10px solid yellow; */

    }
    .contact-details-2{
        width: 20%;
        /* border: 10px solid yellow; */

    }

    .contact-details-1-details textarea, 
    .contact-details-1-details .icon-text label, 
    .contact-details-1-details .icon-text input,
    .contact-details-1-details-button button {
        font-size: 1vw;
    }

    .contact-details-2 img{
        width: 100%;
        height: 12em;
        /* border: 1px solid; */
    }

}

@media only screen and (max-width: 768px) {
    .contact-details-1, .contact-details-2 {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .contact-details-1-details {
        margin-top: 5%;
        width: 90%;
        height: 20em;
        /* height: auto; */
    }

    .contact-details-2 img{
        margin-top: 5%;
        width: 30%;
        height: 60%;
        /* border: 1px solid; */
    }

}

/* Styles for screen sizes up to 480px */
@media only screen and (max-width: 480px) {
    .contact {
        /* height: auto; */
        padding: 10px;
    }

    .contact-details-1, .contact-details-2 {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .contact-details-1-details {
        width: 100%;
        height: 16em;
    }


    .contact-option{
        /* width: 100%; */
        height: 80%;
        /* border: 10px solid yellow; */
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        justify-content: space-evenly;
    }

    .contact-option-box{
        width: 40%;
        height: 40%;
        /* border: 1px solid; */
        box-shadow: 0px 0px 4px rgb(209, 185, 185);
    }

 
}