.nav{
    /* border: 1px solid; */
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo-name{
    /* border: 1px solid; */
    width: 10%;
    height: 98%;
    /* background-image: url(../assests/home-logo.png);
    background-size: cover; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.logo-name img{
    width: 47%;
    height: 100%;
    /* border: 1px solid; */

}
.logo-name .name{
    width: 50%;
    height: 80%;
    /* border: 1px solid; */
    font-size: 0.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.burger{
    /* border: 1px solid; */
    width: 5%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    /* color: white; */
    cursor: pointer;
}
.search-profile-name{
    /* border: 1px solid; */
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.search-profile-name input{
    margin-left: 4%;
    width: 25%;
    height: 50%;
    border-radius: 8px;
    padding-left: 1%;
    font-size: 0.8vw;
}
.search-profile-name .name-profile{
    /* border: 1px solid; */
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-profile-name .name-profile a{
  text-decoration: none;
  color: white;
}
.search-profile-name .name-profile .icon{
    font-size: 1.5vw;
    /* border: 1px solid; */

}
/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 10vh;
    left: -250px;
    width: 10%;
    height: 100%;
    background-color: #333;
    padding-top: 2%;
    transition: 0.3s;
    z-index: 1001;
    
  }
  
  .sidebar.open {
    left: 0;
    /* background-color: white; */
  }
  
  .sidebar .links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 3%; */
    /* border: 1px solid white; */
    width: 100%;
    height: 88%;
  }
  
  .sidebar .links a{
    /* padding: 15px 20px; */
    /* border: 1px solid; */
    width: 100%;
    height: 11%;
    text-align: center;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
  }
  
  .sidebar .links a:hover {
    background-color: #575757;
  }
  .sidebar .links a.active{
    background-color: rgb(124, 116, 116);
  }

  .sidebar .links .category{
     /* border: 1px solid; */
     width: 100%;
     height: 11%;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1vw;

  }
  .sidebar .links .category:hover{
    background-color: #575757;

  }
  
  /* Overlay styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
    z-index: 1000;
    visibility: hidden;
  }
  
  .overlay.open {
    opacity: 1;
    visibility: visible;
  }

  .profile-dropdown {
    width: 10%;
    height: 20%;
    position: absolute;
    top: 10%;
    right: 0;
    background-color: #333;
    color: white;
    /* padding: 10px; */
    /* border-radius: 4px; */
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1%; */
}

.profile-dropdown.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    /* border: 1px solid; */
    height: auto;
}

.myOrder{
  width: 11%;
  height: 43%;
  background-color: rgb(204, 57, 57);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 2%;
}

.profile-dropdown a {
    /* border: 1px solid; */
    width: 100%;
    /* height: 25%; */
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */   
    /* padding: 5px 0; */
    color: white;
    text-decoration: none;
    font-size: 0.8vw;
}
.profile-dropdown a.active{
    background-color: rgb(124, 116, 116);
}

.profile-dropdown a:hover {
    /* text-decoration: underline; */
    background-color: rgb(100, 89, 89);
}

.profile-dropdown .active{
  /* border: 1px solid white; */
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
}
.profile-dropdown .active:hover{
  background-color: rgb(100, 89, 89);
}


/* category dropdown */

.category-dropdown-menu{
  display: none;
  /* position: absolute; */
  position: relative;
  /* top: 100%; */
  /* left: 0; */
  /* background-color: #fff; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  /* border: 1px solid white; */
  border-top: 1px solid rgb(156, 141, 141);
  border-bottom: 1px solid rgb(156, 141, 141);
  overflow-y: auto;
  height: 90%;
  width: 100%;

}

.category-dropdown-menu.open {
  display: block;
  /* border: 1px solid white; */
  /* color: blue; */
}



.sidebar .links .categoryName{
  color: rgb(192, 192, 150);
  height: 10%;
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}
.sidebar .links .categoryName:hover{
  background-color: rgb(100, 89, 89);

}

/* .category-dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.category-dropdown-menu a:hover {
  background-color: #f0f0f0;
} */


/* search filed */

.search-results {
  position: absolute;
  top: 7.6vh;
  left: 18.44%;
  z-index: 100;
  background-color: white;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  padding: 1%;
  border-radius: 5px;
  width: 21.15%;
  height: auto;
  overflow-y: auto;
  font-size: 01vw;
}

.search-result-item {
  margin-bottom: 2%;
  /* width: 10em; */
}

.search-result-item div {
  color: #333;
  /* text-decoration: none; */
  /* font-size: 16px; */
}

.search-result-item div:hover {
  text-decoration: underline;
  /* background-color: #555; */
}





@media only screen and (max-width: 1024px) {
  .logo-name {
      width: 15%;
  }

  .logo-name .name {
      font-size: 1.2vw;
  }

  .burger {
      font-size: 2vw;
  }

  .search-profile-name input {
      width: 30%;
      font-size: 1vw;
  }

  .search-profile-name .name-profile .icon {
      font-size: 2vw;
  }

  .profile-dropdown a {
      font-size: 1vw;
  }

  .sidebar .links a,
  .sidebar .links .category {
      font-size: 1.2vw;
  }

  .sidebar .links .categoryName {
      font-size: 1.2vw;
  }

  .search-results {
      width: 25%;
      font-size: 1.2vw;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
      /* flex-direction: column; */
      /* border: 3px solid white; */
      height: auto;
      padding: 10px 0;
  }

  .logo-name {
      width: 20%;
  }

  .logo-name .name {
      font-size: 1.5vw;
  }

  .burger {
      font-size: 2.5vw;
      width: auto;
  }

  .search-profile-name {
      width: 70%;
      /* flex-direction: column; */
      /* border: 1px solid white; */

  }

  .search-profile-name input {
      width: 190%;
      height: 3.7em;
      /* height: 80%; */
      font-size: 1.2vw;
  }

  .search-profile-name .name-profile {
      width: 100%;
      justify-content: center;
      gap: 10%;
      /* margin-top: 10px; */
  }

  .search-profile-name .name-profile .icon {
      font-size: 2.5vw;
  }

  .profile-dropdown {
      width: 20%;
      height: 18%;
      /* border: 2px solid white; */
  }

  .profile-dropdown a {
      font-size: 1.5vw;
  }

  .sidebar {
      width: 20%;
       /* border: 2px solid white; */
  }

  .sidebar .links a,
  .sidebar .links .category {
      font-size: 1.5vw;
      /* border: 2px solid white; */
      height: 8%;

  }

  .sidebar .links .categoryName {
      font-size: 1.5vw;
      /* border: 2px solid white; */
      height: 7%;
  }

  .search-results {
      /* width: 50%; */
      left: 31.5%;
      font-size: 1.5vw;
  }
}

@media only screen and (max-width: 480px) {
  .logo-name {
      width: 30%;
  }

  .logo-name .name {
      font-size: 2vw;
  }

  .burger {
      font-size: 3vw;
  }

  .search-profile-name input {
      width: 90%;
      font-size: 1.5vw;
  }

  .search-profile-name .name-profile .icon {
      font-size: 3vw;
  }

  .profile-dropdown {
      width: 30%;
      height: 15%;
  }

  .profile-dropdown a {
      font-size: 2vw;
  }

  .sidebar {
      width: 25%;
  }

  .sidebar .links a,
  .sidebar .links .category {
      font-size: 2vw;
      height: 6%;
  }

  .sidebar .links .categoryName {
      font-size: 2vw;
  }

  .search-results {
      width: 35%;
      font-size: 2vw;
  }
}