
.otpVerify {
    display: flex;
    height: 90vh;
    font-family: Arial, sans-serif;
  }
  
  .otpVerify .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    background-image: linear-gradient(rgba(105, 94, 94, 0.5), rgba(75, 67, 67, 0.5)), url(/assests/login-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  
  .otpVerify .login-container {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .otpVerify h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .otpVerify .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .otpVerify label {
    margin-bottom: 10px;
    color: #555;
    /* border: 1px solid; */
  }
  
  .otpVerify input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .otpVerify button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .otpVerify .login-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .otpVerify .login-button:hover {
    background-color: #218838;
  }
  
  .otpVerify .button2 {
    background-color: #4b96e6;
    color: #fff;
    margin-top: 10px;
  }
  
  .otpVerify .button2:hover {
    background-color: #2b7ed6;
  }
  

  