.userProfileEdit{
    width: 100vw;
    height: 90vh;
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.userProfileEdit input{
    width: 20vw;
    height: 4vh;
    border-radius: 7px;
    border: 1px solid;
    padding-left: 2%;
}
.userProfileEdit select{
    width: 20vw;
    height: 4vh;
    border-radius: 7px;
    /* border: 1px solid; */
    font-size: 0.85vw;
}

.userProfileEdit .edit{
    width: 97%;
    height: 5%;
    /* border: 1px solid; */
    display: flex;
    gap: 1.5%;
    justify-content: right;
    align-items: center;
}
.userProfileEdit .edit button{
    width: 8%;
    height: 100%;
    /* margin-right: 1%; */
    border-radius: 7px;
    font-size: 0.8vw;
}
.userProfileEdit .profile{
    width: 97%;
    height: 30%;
    /* border: 1px solid; */
    box-shadow: 0 0 4px rgb(187, 178, 178);
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: left;
    align-items: center;

}
.userProfileEdit .profile div{
    border: 1px solid;
    width: 12%;
    height: 90%;
    margin-left: 2%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.userProfileEdit .profile div p{
    width: 25%;
    height: 10%;
    /* border: 1px solid ; */
    color: white;
    background-color: rgb(134, 138, 141);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .userProfileEdit .profile div img{
    width: 90%;
    height: 90%;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 2%;

} */

.userProfileEdit .profile h1{
    /* border: 1px solid; */
    font-size: 1.5vw;
}
.userProfileEdit .details{
    width: 100%;
    height: 60%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.userProfileEdit .details .info{
    /* border: 1px solid; */
    width: 95%;
    height: 8.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    background-color: aliceblue;
    border-radius: 7px;

}
.userProfileEdit .details .info div{
    margin-left: 3%;
    /* border: 1px solid; */
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9vw;

}
.userProfileEdit .details .info .title{
    width: 10%;
}
.userProfileEdit .details .info h3{
    font-size: 0.9vw;
}
.userProfileEdit .details .info p{
    font-size: 1.2vw;
}





/* Media Queries */



@media only screen and (max-width: 1024px) {
    .userProfileEdit input,
    .userProfileEdit select {
        /* width: 25vw; */
        font-size: 1vw;
    }

    .userProfileEdit .edit button {
        /* font-size: 1vw; */
        height: 80%;
    }

    .userProfileEdit .profile div {
        width: 15%;
        height: 65%;
    }

    .userProfileEdit .details .info h3 {
        font-size: 1.1vw;
    }
   
}

@media only screen and (max-width: 768px) {
    .userProfileEdit input,
    .userProfileEdit select {
        /* width: 30vw; */
        height: 13%;
        font-size: 1.2vw;
    }

    .userProfileEdit .edit button {
        /* font-size: 1.2vw; */
        height: 65%;
    }

    .userProfileEdit .profile div {
        width: 20%;
        height: 62%;
    }

    .userProfileEdit select{
        height: 3vh;
    }

    .userProfileEdit .profile h1 {
        font-size: 2.5vw;
    }

    .userProfileEdit .details .info div {
        font-size: 1.3vw;
    }

    .userProfileEdit .details .info input{
        /* border: 1px solid; */
        height: 3vh;
    }
    .userProfileEdit .details .info h3 {
        font-size: 1.3vw;
    }

}

@media only screen and (max-width: 480px) {
    .userProfileEdit input,
    .userProfileEdit select {
        /* width: 35vw; */
        font-size: 1.5vw;
    }

    .userProfileEdit .edit button {
        /* font-size: 1.5vw; */
        height: 50%;
    }

    .userProfileEdit .profile{
        height: 20%;
    }

    .userProfileEdit .profile div {
        /* width: 25%; */
    }

    .userProfileEdit .profile h1 {
        font-size: 3vw;
    }

    .userProfileEdit .details .info div {
        font-size: 1.5vw;
    }

    .userProfileEdit .details .info h3 {
        font-size: 1.5vw;
    }

    .userProfileEdit .details .info p {
        font-size: 2vw;
    }
}